- page_title "Cocktail recipes (#{@cocktails.length} #{@search.terms.present? ? 'found' : 'total'})"

- if @cocktails.blank?
  - if @search.terms.present?
    %p No results found. Maybe try expanding your search a bit?
  - else
    %p There's nothing to show. Try creating a cocktail!
- else
  - if @search.terms.present?
    %p Searching for #{@search.term_string}

  .cocktails
    - @cocktails.each do |cocktail|
      %cocktail
        %h2= link_to cocktail.name, cocktail
        %p.ingredients= cocktail.recipe_items.sort.collect(&:ingredient).collect(&:name).join(', ')
        - if user_signed_in?
          %p.actions
            = link_to Icon.new(:edit), edit_admin_cocktail_path(cocktail)
            = link_to Icon.new(:trash), admin_cocktail_path(cocktail), data: {turbo_confirm: 'Are you sure?', turbo_method: :delete}, :'aria-hidden' => true

- content_for :secondary_content do
  - if user_signed_in?
    %p= new_cocktail_link

  - if @search
    = simple_form_for(@search, url: url_for(), method: :get) do |f|
      = f.input :term_string, placeholder: 'Comma-separated names', label: 'Ingredient search', as: 'search', wrapper_html: {class: "stacked"}
