%div{itemtype: "https://schema.org/Recipe", itemscope: true}

  %h1{itemprop: "name"}= @cocktail.name
  %meta{itemprop: "datePublished", content: @cocktail.created_at}

  - if @scale
    %h4 Recipe is scaled #{@scale}x

  %ul
    - @cocktail.recipe_items.sort.each do |item|
      %li{itemprop: "recipeIngredient"}= html_fractions(item.summary)

  %p{itemprop: "recipeInstructions"}= @cocktail.full_technique.capitalize + '.'

  - if @cocktail.notes.present?
    %div{itemprop: "description"}= simple_format(auto_link(@cocktail.notes))

- if user_signed_in?
  %p= link_to 'Edit', edit_admin_cocktail_path(@cocktail)

- content_for :secondary_content do
  - if user_signed_in?
    %p= new_cocktail_link

  = turbo_frame_tag "scaled_recipe" do
    %h2 Scale this recipe
    = simple_form_for :scaler do |f|
      = f.input :scale, as: :integer, label: 'Scaling factor', wrapper_html: {class: "stacked"}, required: false
