- page_title "Edit #{@garnish.name}"

= semantic_form_for(@garnish) do |f|
  = render 'form', f: f
  = f.actions do
    = f.action :submit, label: 'Save your changes'

- if @cocktails.present?
  - content_for :secondary_content do
    %h3 Cocktails with #{@garnish.name}
    %ul
      - @cocktails.each do |cocktail|
        %li= link_to cocktail.name, cocktail
