- if @ingredient_category.present?
  - page_title "#{@ingredient_category.name} ingredients"
  %p= link_to "Show all ingredients", ingredients_path
- else
  - page_title "Ingredients"

%table
  %thead
    %tr
      %th Name
      %th Category
      %th Notes
      %th
  %tbody
    - @ingredients.each do |ingredient|
      %tr
        %td= link_to ingredient.name, edit_ingredient_path(ingredient)
        %td
          - if ingredient.ingredient_category.present?
            = link_to ingredient.ingredient_category.name, ingredients_path(ingredient_category: ingredient.ingredient_category)
        %td= simple_format(auto_link(ingredient.notes))
        %td= link_to Icon.new(:trash), ingredient, data: {confirm: 'Are you sure?', method: :delete}, :'aria-hidden' => true

- content_for :secondary_content do
  %p= link_to "#{Icon.new(:add)} Add an ingredient".html_safe, new_ingredient_path, class: 'call_to_action'
