- page_title 'Units of measurement'

%table
  %thead
    %tr
      %th Name
      %th Size in ounces
      %th
  %tbody
    - @units.each do |unit|
      %tr
        %td= link_to unit.name, edit_unit_path(unit)
        %td= html_fractions(unit_to_fraction(unit))
        %td= link_to Icon.new(:trash), unit, data: {confirm: 'Are you sure?', method: :delete}, :'aria-hidden' => true

- content_for :secondary_content do
  %p= link_to "#{Icon.new(:add)} Add a new unit".html_safe, new_unit_path, class: 'call_to_action'
