!!!
%html
  %head
    %title= [@page_title, "Bartender's Guide"].compact.join(' .:|:. ')

    = stylesheet_link_tag 'application'

    %link{rel: "preconnect", href: "https://fonts.googleapis.com"}
    %link{rel: "preconnect", href: "https://fonts.gstatic.com", crossorigin: true}
    %link{rel: "stylesheet", href: "https://fonts.googleapis.com/css2?family=Alice&family=Limelight&display=swap"}

    = javascript_importmap_tags
    %script{src: "https://kit.fontawesome.com/00c2ee0335.js", crossorigin: "anonymous"}

    = csrf_meta_tag
    = csp_meta_tag

  %body
    #wrapper
      #sitewide_navigation
        = link_to root_path do
          = image_tag("logo.jpg")
        %nav
          = render partial: 'layouts/navigation'
      #flash_messages
        - flash.each do |level, message|
          %div{class: level}= message
      #primary_content
        = content_tag :h1, @page_title if @page_title
        = yield
      #secondary_content
        = yield :secondary_content
